@import './components/Colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat';
}

body {
  height: 100vh;
  width: 100%;
}

.nav_wrapper {
  display: flex;
  width: 100%;
  height: 80px;
  color: black;
  // position: relative;

  .nav_logo {
    padding: 3px;
    margin: 0 5px;
  }

  .nav_logo_p {
    margin-top: 40px;
    font-size: 1.5em;
    font-weight: bold;
    top: 6%;
    left: 16%;
  }

  .fa-bars {
    margin-top: 40px;
    // margin-left: 1090px;
    font-size: 1.7em;
    // display: none;
    // transform: rotate(-90deg);
  }

  .navbar {
    height: 150px;
    width: 100%;
    position: absolute;
    top: 10%;
    // display: none;
    background-color: white;

    .navbar_ul {
      width: 50%;
      height: 150px;
      margin: 0 auto;
      text-align: center;

      li {
        margin: 0 0 10px 0;
        cursor: pointer;
      }

      .nav_links {
        color: black;
        padding: 5px;
        border-radius: 50px;
      }

      .nav_links:hover {
        background-color: black;
        color: white;
      }
    }
  }

  .navbar_btn {
    padding: 7px;
    border: none;
    background-color: black;
    color: white;
    height: 30px;
    // margin: 40px 5px 0 15px;
    font-size: 0.8em;
    position: sticky;
    right: 0;
  }
}

.footer_wrapper {
  background-color: $brBlack;
  color: white;
  height: 600px;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 10px;

  .grid_item {
    font-size: 0.8em;
    margin: 10px 0;
  }

  .item-1 {
    border-bottom: 0.5px solid grey;

    .text {
      font-size: 1.1em;
      margin-bottom: 5px;
    }

    .footer_form {
      padding: 5px;
      position: relative;
      margin: 10px 0;

      input {
        padding: 5px;
        width: 60%;
        background-color: $brown;
      }

      .footer_btn {
        position: absolute;
        right: 22%;
        top: 7px;
        padding: 5px;
        background-color: $orange;
        border: none;
        color: white;
      }
    }
  }

  .item-2 {
    padding: 5px;

    .logo_p {
      display: inline-block;
      margin: 0 0 5px 5px;
      font-size: 1.2em;
    }

    .read_more {
      color: $orange;
    }

    .footer_icons {
      margin-top: 5px;

      .fa {
        height: 40px;
        width: 40px;
        background-color: $brown;
        margin: 10px 5px 0 5px;
        border-radius: 50%;
        padding: 10px;
      }
    }
  }

  .item-3 {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 10px 2px;

    .footer_ul li {
      margin-block: 5px;
    }

    .footer_ul li:first-child {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  .item-4 {
    align-self: end;
  }

  .item-1,
  .item-4 {
    text-align: center;
  }
}

.main1_wrapper {
  background-color: $vOffWhite;
  padding: 15px;

  .p1 {
    font-size: 1.6em;
    font-weight: bold;
    margin: 40px 0 20px 0;
  }

  .main1_form {
    margin: 20px 0;

    .main1_form_labels {
      font-weight: bold;
      padding: 6px;
      background-color: white;
      font-size: 0.8em;
    }

    .buying {
      background-color: $orange;
      color: white;
    }

    .renting {
      color: grey;
    }

    .renting:hover {
      background-color: $orange;
      color: white;
    }

    .main1_form_input {
      display: block;
      padding: 10px;
      margin: 5px 0;
      width: 22em;
      background-color: #e3e6e4;
      color: #878a88;
    }

    .main1_form_btn {
      color: white;
      padding: 10px;
      border: none;
      background-color: $orange;
      font-size: 0.8em;
      cursor: pointer;
    }
  }

  .line {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 70%;
    height: 1.5px;
    background: $bBram;
  }

  .sponsors {
    position: relative;

    .p4 {
      font-size: 0.5em;
    }

    .dd,
    .treehouse {
      filter: grayscale(1);
    }

    .maze {
      margin-left: 10px;
      position: absolute;
      top: 44%;
    }
  }

  .kitchen {
    display: block;
    height: 300px;
    width: 75%;
    margin: 20px auto;
  }

  .main1_footer {
    background-color: $brBlack;
    color: white;
    padding: 10px;

    .p3 {
      font-size: 1.2em;
    }

    .p4 {
      font-size: 0.8em;
    }

    .p3,
    .p4 {
      text-align: center;
      margin: 15px 0;
    }

    .main1_footer_sections {
      .fa {
        margin: 25px 0 10px 0;
      }

      .main1_footer_titles {
        font-weight: bold;
      }

      .section_p {
        margin-bottom: 10px;
        font-size: 0.8em;
      }
    }

    .main1_footer_sections div {
      border-top: 1px solid white;
      margin-top: 5px;
      padding: 5px;
    }

    .main1_footer_sections div:hover {
      background-color: $brown;
      border-top: 1px solid $orange;
    }
  }
}

.main2_wrapper {
  // display: grid;
  // grid: 1fr 1fr 2fr / repeat(2, 1fr);
  padding: 10px;

  .main2_grid_item1 {
    position: relative;

    .main2_lr {
      height: 390px;
      width: 350px;
      // display: block;
      margin: 10px auto;
    }

    .m2_inner_grid1 {
      display: grid;
      grid: repeat(3, 1fr) / repeat(4, 1fr);
      font-size: 0.7em;
      height: 100px;
      width: 320px;
      gap: 5px;
      background-color: white;
      position: absolute;
      top: 70%;
      left: 25px;
      padding: 10px;

      .white_space::before {
        content: 'cccc';
        color: transparent;
      }
    }
  }

  .main2_grid_item2 {
    padding: 5px;
    font-size: 0.9em;

    .m2p1 {
      font-size: 1.6em;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .m2p2 {
      margin: 25px 0;
    }

    .m2_list {
      margin: 10px 0;
    }

    .fa-check {
      margin: 0 5px;
      padding: 2px;
      color: green;
      font-size: 0.9em;
      background-color: #c5f5b0;
    }
  }

  .main2_grid_item3 {
    // margin: 20px 0;
    padding: 5px;

    .m2gi3_p1 {
      font-size: 1.6em;
      margin-bottom: 15px;
    }

    .m2gi3_p2 {
      font-size: 0.9em;
      margin: 10px 0;
    }

    .m2gi3_btn1,
    .m2gi3_btn2 {
      border: none;
      padding: 10px;
      margin-block: 20px;
    }

    .m2gi3_btn1 {
      background-color: $orange;
      color: white;
      margin-right: 5px;
    }

    .m2gi3_btn2 {
      background-color: white;
    }
    .m2gi3_btn2:hover {
      background-color: $orange;
      color: white;
    }

    .fa-arrow {
      color: $orange;
    }

    .m2gi3_grid {
      width: 350px;
      height: 80px;
      display: grid;
      grid: 1fr 1fr / 1fr 1fr 1fr;
      margin: 15px 0;

      .m2gi3_title {
        font-weight: bold;
      }
    }
  }

  .main2_grid_item4 {
    position: relative;

    .m2_kitchen {
      height: 350px;
      width: 350px;
      display: block;
      margin: 0 auto;
    }

    .m2_price_list {
      background-color: white;
      width: 300px;
      height: 200px;
      padding: 10px;
      position: absolute;
      top: 40%;
      left: 10%;

      .label {
        display: block;
      }

      .prices {
        background-color: white;
        border: none;
        font-size: 0.9em;
        margin-bottom: 15px;
      }

      .prices1,
      .prices2 {
        margin: 0 5px;
      }
    }

    .m2_price_list_grid {
      background-color: white;
      display: grid;
      grid: repeat(3, 1fr) / repeat(3, 1fr);
      width: 250px;
      gap: 3px;

      .plgi {
        padding: 8px;
        border-radius: 5px;
      }
    }

    .m2_price_list_grid p {
      background-color: $vOffWhite;
    }
    .m2_price_list_grid p:hover {
      background-color: $orange;
    }
  }

  .main2_grid_item5 {
    background-color: $vOffWhite;
    padding: 10px;
    // margin: 10px 0;
    justify-content: center;

    .m2gi5_header {
      text-align: center;

      .m2gi5_p1 {
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .m2gi5_p2 {
        margin: 0px 0;
      }
    }

    .m2_listings {
      margin: 20px 0;

      .listing1,
      .listing2,
      .listing3 {
        margin: 30px auto;
      }

      .listing_pic {
        width: 100%;
      }

      .m2_img_wrapper {
        position: relative;
      }
      .m2gi5_p3 {
        background-color: black;
        color: white;
        width: 42%;
        padding: 5px;
        left: 5px;
      }

      .m2gi5_p4 {
        background-color: $orange;
        color: white;
        width: 32%;
        left: 178px;
      }

      .m2gi5_p3,
      .m2gi5_p4 {
        padding: 6px;
        text-transform: uppercase;
        font-size: 0.7em;
        letter-spacing: 0.5px;
        text-align: center;
        position: absolute;
        top: 10px;
      }

      .location {
        font-size: 0.9em;
        margin: 5px 0;
      }

      .listprice {
        font-size: 1.2em;
        font-weight: bold;
        margin: 10px 0;
      }

      .address {
        color: grey;
        font-size: 0.9em;
      }

      .address_ul {
        display: flex;
        margin: 10px;
      }

      .address_ul li {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 0.8em;
      }
    }

    .m2gi5_btn_wrapper {
      height: 30px;
      width: 40%;
      margin: 40px auto;
    }

    .m2gi5_btn {
      padding: 10px;
      border: 1px solid black;
      background-color: transparent;
      font-weight: bold;

      .fa-arrowUp {
        color: $orange;
        margin-left: 5px;
      }
    }
  }
}

.main3_wrapper {
  padding: 15px;
  margin-top: 20px;

  .m3gi1 {
    .m3gi1_img {
      height: 400px;
      width: 400px;
      margin: 20px auto;
    }
  }

  .m3gi2 {
    padding: 10px;

    .m3gi2_p1 {
      font-size: 1.6em;
      font-weight: bold;
      margin: 10px 0;
    }

    .m3gi2_p2 {
      font-size: 1.1em;
      margin: 20px 0;
    }

    .m3gi2_ul li {
      margin: 20px 0;
    }

    .fa-check {
      color: green;
      background-color: #c5f5b0;
      padding: 2px;
    }
  }

  .m3gi3 {
    padding: 10px;
    width: 100%;
    margin: 0 auto;

    .m3gi3_p1 {
      font-size: 1.6em;
      font-weight: bold;
      margin: 10px 0;
    }

    .m3gi3_p2 {
      margin: 10px 0;
    }

    .m3gi3_btn {
      background-color: $orange;
      border: none;
      color: white;
      padding: 10px;
      font-size: 0.9em;
      letter-spacing: 1px;
      cursor: pointer;
      margin: 10px 0;
    }

    .m3gi3_articles {
      .article {
        width: 500px;
        margin: 0 auto;
      }

      .m3gi3_p3 {
        font-weight: bold;
        font-size: 1.1em;
        margin-bottom: 20px;
      }

      .m3gi3_p3,
      .m3gi3_p4 {
        width: 70%;
      }

      .authors {
        margin: 10px 0;

        .m3gi3_p5 {
          display: inline-block;
        }

        .m3gi3_p6 {
          color: grey;
          margin-top: 5px;
        }

        .m3gi3_img {
          border-radius: 50%;
        }
      }
    }
  }
}

/*----------------------------------*/
@media (min-width: 570px) {
  .main2_wrapper {
    .main2_grid_item1 {
      .m2_inner_grid1 {
        left: 115px;
      }
    }

    .main2_grid_item4 {
      .m2_price_list {
        left: 20%;
      }
    }

    .main2_grid_item5 {
      .m2_listings {
        width: 355px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media (min-width: 768px) {
  .footer_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, fr);
    height: 415px;

    .item-1,
    .item-4 {
      grid-column: 1 / 3;
    }

    .footer_ul {
      align-self: center;
    }
  }

  .main1_footer_sections {
    display: flex;
    flex-direction: row;
  }

  .main1_footer_sections div {
    margin-left: 10px;
    margin-right: 10px;
  }

  .main2_wrapper {
    .main2_grid_item1 {
      .m2_inner_grid1 {
        left: 215px;
      }
    }

    .main2_grid_item4 {
      .m2_price_list {
        left: 30%;
      }
    }

    .m2gi5_btn_wrapper {
      margin-left: 50px;
      display: flex;
      justify-content: center;
    }
  }
}

@media (min-width: 992px) {
  // .nav_wrapper {
  //   // .fa-bars {
  //   //   display: none;
  //   // }

  //   .navbar_btn {
  //     margin-left: 60px;
  //   }
  // }

  .main1_wrapper {
    display: grid;
    grid: 3fr, 1fr / repeat(2, 1fr);

    .main1_grid_item3 {
      grid-column: 1 / 3;
    }

    .p1 {
      font-size: 2em;
      width: 50%;
    }

    .p2 {
      width: 75%;
      line-height: 1.5;
    }

    .main1_form {
      position: relative;

      .main1_form_input {
        width: 30em;
      }

      .main1_form_btn {
        position: absolute;
        top: 39%;
        left: 43%;
        padding: 12px;
      }
    }

    .line {
      margin-top: 175px;
    }

    .sponsors {
      .p4 {
        font-size: 1em;
      }

      .maze {
        top: 50%;
      }
    }

    .kitchen {
      height: 525px;
      width: 90%;
    }

    .main1_footer {
      margin-top: 20px;
    }
  }

  .main2_wrapper {
    display: grid;
    grid: 1fr 1fr 1fr / repeat(2, 1fr);
    gap: 10px;

    .main2_grid_item1 {
      .main2_lr {
        height: 390px;
        width: 450px;
      }

      .m2_inner_grid1 {
        height: 110px;
        width: 360px;
        font-size: 0.9em;
        top: 43%;
        left: 60px;
      }
    }

    .main2_grid_item2 {
      padding-top: 60px;
      .m2p1 {
        font-size: 2.1em;
      }
    }

    .main2_grid_item3 {
      .m2gi3_p1 {
        font-size: 2.1em;
      }
    }

    .main2_grid_item4 {
      .m2_kitchen {
        height: 450px;
        width: 380px;
      }

      .m2_price_list {
        left: 15%;
        top: 35%;
      }
    }

    .main2_grid_item5 {
      grid-column-start: 1;
      grid-column-end: 3;

      .m2_listings {
        width: 100%;
        display: flex;

        .listing1,
        .listing2,
        .listing3 {
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      .m2gi5_btn {
        margin-left: 130px;
      }
    }
  }

  .main3_wrapper {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;

    .m3gi3 {
      grid-column-start: 1;
      grid-column-end: 3;
      position: relative;
      width: 90%;
      margin: 0 auto;

      .m3gi3_btn {
        position: absolute;
        top: 30px;
        left: 80%;
      }

      .m3gi3_p1,
      .m3gi3_p2 {
        margin-bottom: 20px;
      }

      .m3gi3_p1 {
        font-size: 2.6em;
      }

      .m3gi3_articles {
        display: flex;
        justify-content: center;
      }

      .article {
        padding: 10px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .main1_form {
    .main1_form_btn {
      margin-left: 10px;
    }
  }

  .main2_wrapper {
    padding: 15px;
    .main2_grid_item1 {
      .main2_lr {
        height: 420px;
        width: 470px;
      }

      .m2_inner_grid1 {
        height: 130px;
        width: 400px;
        top: 46%;
        left: 35px;
      }
    }

    .main2_grid_item2 {
      .m2p1 {
        font-size: 2.4em;
      }

      .m2p2 {
        font-size: 1.1em;
        line-height: 23px;
      }

      .m2_list {
        font-size: 1.1em;
      }
    }

    .main2_grid_item4 {
      .m2_price_list {
        left: 20%;
      }
    }

    .main2_grid_item5 {
      .m2gi5_header {
        .m2gi5_p1 {
          font-size: 2em;
        }
        .m2gi5_p2 {
          width: 700px;
          margin: 0 auto;
        }

        .m2gi5_btn {
          margin-left: 220px;
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .main1_form {
    .main1_form_btn {
      margin-left: -25px;
    }
  }

  // not working
  .main2_wrapper {
    .main2_grid_item4 {
      .m2_price_list {
        left: 25%;
      }
    }

    .main2_grid_item5 {
      .m2_listings {
        margin: 0 auto;
        justify-content: center;

        .m2gi5_btn_wrapper {
          // not working
          background-color: yellow;
          position: relative;
          .m2gi5_btn {
            // margin-left: 20px;
            position: absolute;
            left: 50px;
          }
        }
      }
    }
  }
}
